<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579705651158-r1sd6i707qgbv3dqq0fp8cu5t4mmnpna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579705651158-r1sd6i707qgbv3dqq0fp8cu5t4mmnpna</string>
	<key>API_KEY</key>
	<string>AIzaSyCPRvwIWVxIyDl9quovVYvaCBUINSfilN8</string>
	<key>GCM_SENDER_ID</key>
	<string>579705651158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.telegramApp</string>
	<key>PROJECT_ID</key>
	<string>telegram-app-37d98</string>
	<key>STORAGE_BUCKET</key>
	<string>telegram-app-37d98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579705651158:ios:d9dd49618156589138ae77</string>
</dict>
</plist>